h2 {
  font-family: "Dancing Script", cursive;
  color: #daa520;
  margin-bottom: 20px;
  text-align: center;
}
main {
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 300px) and (max-width: 764px) {
}
