@import "../../styles/funcoes.scss";
@import "../../styles/variaveis.scss";
.container-input {
  @include containerInput();
}
.menus {
  @include menu();
}
nav {
  @include nav();
}
span {
  @include spanMenuCardapio();
}
@include telasPequenas($min300px, $max764px) {
  nav {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }
}
