header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-topo {
  background-image: url("../../assets/banner.png");
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1024px;
}
.background-topo h1 {
  color: #f5f6f3;
  text-shadow: 1px 0px 10px #daa520;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}
.background-topo p {
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: #daa520;
  font-size: 30px;
}
@media screen and (min-width: 300px) and (max-width: 764px) {
  .background-topo {
    max-width: none;
  }
  header {
    width: 100%;
    padding: 0px;
  }
  .background-topo h1 {
    font-size: 40px;
  }
}
