//BreakPoints
@mixin telasPequenas($min300px, $max764px) {
  @media screen and (min-width: $min300px) and (max-width: $max764px) {
    @content;
  }
}
@mixin telasMedias($min765px, $max1023px) {
  @media screen and (min-width: $min765px) and (max-width: $max1023px) {
    @content;
  }
}
@mixin telasGrandes($min1024px, $max1443px) {
  @media screen and (min-width: $min1024px) and (max-width: $max1443px) {
    @content;
  }
}

//style functions to the Topo.js
@import "./variaveis.scss";
@mixin alignCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin backgroundTopo() {
  background-image: url("../../assets/banner.png");
  height: 300px;
  width: $Porcento100;
  background-repeat: no-repeat;
  background-size: cover;
  @include alignCenter();
  flex-direction: column;
  max-width: $max1024px;
  h1 {
    color: #f5f6f3;
    text-shadow: 1px 0px 10px $colorDaa520;
    font-family: $fontPoppinsSansSerif;
    font-size: 60px;
  }
  p {
    text-align: center;
    font-family: $fontDancingScript;
    color: $colorDaa520;
    font-size: 30px;
  }
}

//Style functions to the MenuCardapio.js
@mixin containerInput() {
  @include alignCenter();
  flex-direction: column;
}
@mixin menu() {
  @include alignCenter();
  background-color: #e9e9ed;
  width: 150px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
  padding-right: 5px;
  border-radius: 5px;
  margin: 20px 0px 20px 0px;
  font-weight: bold;
  img {
    width: 15px;
    height: 15px;
  }
  &:hover {
    background-color: $colorDaa520;
  }
}
@mixin nav() {
  display: flex;
  justify-content: space-between;
  width: $Porcento100;
  max-width: $max1024px;
}
@mixin spanMenuCardapio() {
  margin-left: 10px;
}
//Style functions to the ListaProduto.js

@mixin containerProdutos() {
  @include alignCenter();
  width: $Porcento100;
  max-width: $max1024px;
}
@mixin itensProdutos() {
  @include alignCenter();
  flex-direction: row;
  background-color: #f2f2f2;
  flex-wrap: wrap;
}
@mixin h2ListaProdutos() {
  font-family: $fontDancingScript;
  color: $colorDaa520;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
}
// style functions to the ListaPratos.js
@mixin main() {
  @include alignCenter();
  font-family: $fontPoppinsSansSerif;
  flex-direction: column;
}
// style functions to the ItemPratos.js
@mixin divContainerProdutos() {
  border: 1px solid yellow;
  height: 550px;
  width: 31%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;

  &:nth-child(n + 4) {
    width: 47.5%;
  }

  img {
    height: $Porcento100;
    width: $Porcento100;
  }

  .container-padding {
    padding: 5px;
    display: flex;
    width: $Porcento100;
    flex-direction: column;
    height: 50%;
    position: relative;

    .paragrafo {
      display: flex;
      flex-direction: column;

      .span-categoria {
        color: $colorDaa520;
      }

      .span-preco {
        font-weight: bold;
        position: absolute;
        bottom: 0px;
        right: 10px;
      }
    }
  }
}

//styles to the BuscaProdutos.js

@mixin containerInput() {
  display: flex;
  position: relative;
  width: 90%;
  margin-bottom: 20px;
  width: $Porcento100;
  max-width: $max1024px;
  img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    left: 8px;
  }
  input {
    padding-left: 30px;
    width: $Porcento100;
    height: 35px;
    border-radius: 15px;
    border: 1px solid #000;
    height: 35px;
    width: $Porcento100;
    max-width: $max1024px;
    color: $colorDaa520;
  }
}
