$colorDaa520: #daa520;
$min300px: 300px;
$max764px: 764px;
$min765px: 765px;
$max1023px: 1023px;
$min1024px: 1024px;
$max1443px: 1443px;
$fontPoppinsSansSerif: "Poppins", sans-serif;
$fontDancingScript: "Dancing Script", cursive;
$Porcento100: 100%;
