.container-produtos {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.itens-produtos {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
h2 {
  font-family: "Dancing Script", cursive;
  color: #daa520;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
}
@media screen and (min-width: 300px) and (max-width: 764px) {
  .itens-produtos {
    width: 100%;
  }
}
