* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  font-family: "Poppins", sans-serif;
}
.App {
  padding: 50px 20px;
  width: 100%;
}
@media screen and (min-width: 300px) and (max-width: 764px) {
  .App {
    width: 100%;
  }
}
