.div-container-produtos {
  border: 1px solid yellow;
  height: 550px;
  width: 31.2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
.div-container-produtos:nth-child(n + 4) {
  width: 490px;
}
img {
  height: 100%;
  width: 100%;
}
.container-padding {
  padding: 5px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.span-categoria {
  color: #daa520;
}
.span-preco {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}
.paragrafo {
  display: flex;
  flex-direction: column;
}
.span-categoria,
.span-preco,
.span-descricao {
  margin: 0px;
}
